definitions:
  model.CreateUserRequest:
    properties:
      email:
        type: string
      name:
        type: string
      password:
        type: string
      profile:
        type: string
      username:
        type: string
    required:
    - email
    - name
    - password
    - username
    type: object
  model.Product:
    properties:
      product_id:
        type: integer
      product_name:
        type: string
      product_price:
        type: number
    type: object
  model.Response:
    properties:
      message:
        type: string
    type: object
  model.TokenRequest:
    properties:
      password:
        type: string
      username:
        type: string
    type: object
info:
  contact: {}
  description: API para o sistema do mercado
  title: Mercado
  version: "1.0"
paths:
  /auth/create:
    post:
      consumes:
      - application/json
      description: Cria um novo usuário
      parameters:
      - description: Dados do usuário
        in: body
        name: credentials
        required: true
        schema:
          $ref: '#/definitions/model.CreateUserRequest'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            additionalProperties:
              type: string
            type: object
        "400":
          description: Bad Request
          schema:
            additionalProperties: true
            type: object
      summary: Criar usuário
      tags:
      - Auth
  /auth/login:
    post:
      consumes:
      - application/json
      description: Realiza login e retorna o token
      parameters:
      - description: Credenciais do usuário
        in: body
        name: credentials
        required: true
        schema:
          $ref: '#/definitions/model.TokenRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
        "401":
          description: Unauthorized
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Autenticar usuário
      tags:
      - Auth
  /auth/refresh:
    post:
      consumes:
      - application/json
      description: Obtém um novo token ao usuário
      parameters:
      - description: Dados do usuário
        in: body
        name: credentials
        required: true
        schema:
          $ref: '#/definitions/model.CreateUserRequest'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            additionalProperties:
              type: string
            type: object
        "400":
          description: Bad Request
          schema:
            additionalProperties: true
            type: object
      summary: Reautenticar usuário
      tags:
      - Auth
  /products:
    get:
      description: Retorna todos os produtos
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/model.Product'
            type: array
        "401":
          description: Unauthorized
          schema:
            additionalProperties:
              type: string
            type: object
      security:
      - BearerAuth: []
      summary: Listar produtos
      tags:
      - Products
    post:
      consumes:
      - application/json
      parameters:
      - description: Produto
        in: body
        name: product
        required: true
        schema:
          $ref: '#/definitions/model.Product'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/model.Product'
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
      security:
      - BearerAuth: []
      summary: Criar produto
      tags:
      - Products
  /products/{id}:
    delete:
      parameters:
      - description: ID do produto
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.Response'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/model.Response'
      security:
      - BearerAuth: []
      summary: Deletar produto
      tags:
      - Products
    get:
      parameters:
      - description: ID do produto
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.Product'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/model.Response'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/model.Response'
      security:
      - BearerAuth: []
      summary: Buscar produto por ID
      tags:
      - Products
    put:
      consumes:
      - application/json
      parameters:
      - description: ID do produto
        in: path
        name: id
        required: true
        type: integer
      - description: Campos para atualizar
        in: body
        name: product
        required: true
        schema:
          $ref: '#/definitions/model.Product'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.Product'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/model.Response'
      security:
      - BearerAuth: []
      summary: Atualizar produto
      tags:
      - Products
securityDefinitions:
  BearerAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
